<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="error">
      <h1>Query not found</h1>
      <h4>404</h4>
      <a href="/"> Check for another city</a>
    </div>
  </body>
</html>
