<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <div class="flex">
      <form action="/result" method="POST">
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter city"
          name="cityName"
          required
        />
        <button type="submit" class="btn btn-primary">Check weather</button>
      </form>
    </div>
    <div class="socials">
      <a href="https://web.facebook.com/fuad.olatunji.35" target="_blank"
        ><i class="fa fa-facebook-square fa-custom" aria-hidden="true"></i
      ></a>
      <a href="https://twitter.com/Fuadop2" target="_blank"
        ><i class="fa fa-twitter fa-custom" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/fuado_p/" target="_blank"
        ><i class="fa fa-instagram fa-custom" aria-hidden="true"></i
      ></a>
    </div>
  </body>
</html>
