<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <div class="flex">
      <form action="/result" method="POST">
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter city"
          name="cityName"
          required
        />
        <button type="submit" class="btn btn-primary">Check weather</button>
      </form>
    </div>
  </body>
</html>
